@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #D6B98F, #8F705B);
}

.titulo {
    background-color: #E2DED2;
    color: #9FA092;
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px 5px black;
}

.sub-titulo {
    background-color: #E2DED2;
    color: #9FA092;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 5px black;
    margin-top: -50px;
}

.autor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    background-color: #E2DED2;
    color: #9FA092;
    padding: 15px;
    margin-top: -15px;
}

.bolo {
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    padding: 30px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 15px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 15px;
    margin: auto;
    width: 900px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #6D3839;
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
}

.info-main {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 850px;
    font-size: 14px;
    background-color: #EEEEEE;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 20px #6D3839;
}

.brown-main {
    width: 850px;
    height: 100px;
    background-color: #7E504A;
    margin: auto;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 10px 0px 20px #6D3839;
}

.sub-main {
    font-size: 17px;
    background-color: #E2DED2;
    width: 800px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    padding: 5px;
    text-align: center;
}

.link {
    font-size: 10px;
}

h2 {
    color: #7E504A;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

h3 {
    color: #7E504A;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

p {
    padding: 10px;
    margin-bottom: 30px;
}

a {
    color: #7E504A;
}

.esfera {
    display: inline-flex;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    width: 100px;
    height: 100px;
    justify-content: center;
}

span {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 65px;
    color: #7E504A;
}

.lampada {
    display: block;
    margin: auto;
    border-radius: 50%;
}